src/wsdl/localhost_8080/EJBProveedorBeanService/EJBProveedorBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb.dulcejosefina.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb.dulcejosefina.com/">

<xs:element name="crearPedidoProveedor" type="tns:crearPedidoProveedor"/>

<xs:element name="crearPedidoProveedorResponse" type="tns:crearPedidoProveedorResponse"/>

<xs:element name="crearProveedor" type="tns:crearProveedor"/>

<xs:element name="crearProveedorResponse" type="tns:crearProveedorResponse"/>

<xs:element name="selectAllProveedor" type="tns:selectAllProveedor"/>

<xs:element name="selectAllProveedorResponse" type="tns:selectAllProveedorResponse"/>

<xs:element name="selectOnePedidoProveedor" type="tns:selectOnePedidoProveedor"/>

<xs:element name="selectOnePedidoProveedorResponse" type="tns:selectOnePedidoProveedorResponse"/>

<xs:complexType name="crearPedidoProveedor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPedidoProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProveedor">
<xs:sequence>
<xs:element name="nombreProveedor" type="xs:string" minOccurs="0"/>
<xs:element name="detalles" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllProveedor">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectAllProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectOnePedidoProveedor">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectOnePedidoProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>